<link href="/movieshop_fw_php_angularjs/client/frontend/assets/libraries/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css"/>
<link href="/movieshop_fw_php_angularjs/client/frontend/assets/libraries/bootstrap/css/bootstrap-social.css" rel="stylesheet" type="text/css"/>
<link href="/movieshop_fw_php_angularjs/client/frontend/modules/login/view/css/style.css" rel="stylesheet" type="text/css"/>
<link href="/movieshop_fw_php_angularjs/client/frontend/modules/login/view/css/recover_password.css" rel="stylesheet" type="text/css"/>
<link href="/movieshop_fw_php_angularjs/client/frontend/modules/login/view/css/request_change_password.css" rel="stylesheet" type="text/css"/>

<main>
    <div class="container-wrapper">
        <div class="login-canvas">
            <form class="form-login" method="post" name="formLogin" id="formLogin">
                <h4 data-tr="Log in" class="title-form">Log in</h4>
                <span id="e_email_login" class="msg_error"></span>
                <span id="e_passwd_login" class="msg_error"></span>
                <input type="email" name="email-user" id="email-user" class="item-form-login" placeholder="Email">
                <input type="password" name="passwd-user" id="passwd-user" class="item-form-login" placeholder="Password">
        
                <input name="login" class="login-button" id="login-button" type="button" value="Log In"/>
                <div class="div-left">
                    <a href="#" class="forgot-passwd" data-tr="Forgot password?"></a>
                    <div>
                        <span data-tr="Don’t have an account?"></span>
                        <a href="#" data-tr="Sign up" style="margin-left: 5px;" class="open-register"></a>
                    </div>
                </div>
                <div class="social-btns">
                    <a class="google-btn-signin btn"><img alt="google-btn" class="google-btn-signin-img" src="/movieshop_fw_php_angularjs/client/frontend/modules/login/view/img/btn_google_signin.png"></a>
                    <a class="ghub-btn-signin btn btn-block btn-social btn-github">
                        <i class="fab fa-github"></i> Sign in with GitHub
                    </a>
                </div>
                <!-- <a href="#" class="checkLogged">CHECK LOGGED</a>
                <a href="#" class="logoutGoogle">LOG OUT</a>  -->
            </form>
            
        </div>
    </div>
</main>