<!-- <link rel="stylesheet" href="/movieshop_fw_php_angularjs/client/frontend/modules/home/view/css/style.css"/> -->
<!-- <link rel="stylesheet" href="/movieshop_fw_php_angularjs/client/frontend/modules/home/view/css/header.css"/> -->
<main>
    <div class="container-wrapper">
        <div class="-carousel-rating-films">

            <h2 data-tr="Top Rated Movies"><i class="far fa-star"></i> Top Rated Movies</h2>
            <br><br>

                <data-owl-carousel class="owl-carousel" data-options="{navigation: false, pagination: true, rewindNav : false}">
                    <div owl-carousel-item="" ng-repeat="movie in ::rated_movies" class="item">
                        <div class="item movie-carousel" id="{{::movie.id}}">
                        
                            <img src="{{::movie.coverimg}}">
                            <div class="canvas-score">
                                <span class="score-movie-carousel"> <i class="fas fa-star score-star"></i>{{::movie.score}}</span>
                            </div>
                            <div class="canvas-num-top">
                                <span class="num-movie-carousel">{{$index+1}}</span>
                            </div>
                            <div class="footer-item">
                                <span class="movie-title-footer">{{::movie.title}}</span>
                            </div>
                            <br> {{::movie.title}}</span>
                        </div>
                    </div>
                </data-owl-carousel>
                
            <br>
        </div>
        
        <hr>
        
        <div class="-carousel-visits-films">
        
            <h2 data-tr="Most Viewed Movies"><i class="far fa-star"></i> Most Viewed Movies</h2>
            <br><br>
            <data-owl-carousel class="owl-carousel" data-options="{navigation: false, pagination: true, rewindNav : false}">
                <div owl-carousel-item="" ng-repeat="movie in ::most_viewed_movies" class="item">
                    <div class="item movie-carousel" id="{{::movie.id}}">
                    
                        <img src="{{::movie.coverimg}}">
                        <div class="canvas-score">
                            <span class="score-movie-carousel"> <i class="fas fa-star score-star"></i>{{::movie.score}}</span>
                        </div>
                        <div class="canvas-num-top">
                            <span class="num-movie-carousel">{{$index+1}}</span>
                        </div>
                        <div class="footer-item">
                            <span class="movie-title-footer">{{::movie.title}}</span>
                        </div>
                        <br> {{::movie.title}}</span>
                    </div>
                </div>
            </data-owl-carousel>
            <br>
        </div>
        
        <hr>
        
        <div>
            <h2 data-tr="Api Movies Test"><i class="far fa-star"></i> Api Movies Test</h2>
            <br><br>
            <div id="canvas-api-movies" class="canvas-api">
                <data-owl-carousel class="owl-carousel" data-options="{navigation: false, pagination: true, rewindNav : false}">
                    <div owl-carousel-item="" ng-repeat="movie in ::api_movies" class="item">
                        <div class="item movie-carousel card-api-movie" id="{{::movie.imdbID}}">

                            <img src="{{::movie.Poster}}">
                            <div class="canvas-score">
                                <span class="score-movie-carousel"> <i class="fas fa-star score-star"></i>0</span>
                            </div>
                            <div class="footer-item">
                                <span class="movie-title-footer">{{::movie.Title}}</span>
                            </div>
                            <br> <span>{{::movie.title}}</span>
                        </div>
                    </div>
                </data-owl-carousel>
            </div>
            <br>
        </div>


        </div>
        
        <hr>
        
        <div>
            <h2 data-tr="Most Viewed Genres"><i class="far fa-star"></i></h2>
            <br><br>
            <!-- GENRES ON CARDS -->
            <div id="canvas-card-genres"></div>
            <!-- <a id="load-more-genres">LOAD MORE</a> -->
            <br>
        </div>
        
        
        <hr>

    </div>
</main>